/* General CSS */ 
body {
     background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1000px;
      margin-left:auto;margin-right:auto;
    background-color: #eeeeee;
    border: 1px solid black;
}
.upper {
    text-transform: uppercase;
}
.img-responsive {
  max-width: 100%;
 height: auto;
}
/* Destination CSS */ 
.destination img {
height: 178px;
}
.destination_row {
    display: flex;
    flex-wrap: wrap;
}
.destination_single {
    max-width: 238px;
    background: white;
    margin: 0 1.17vw 0 0;
}
.destination_single:last-child {
    margin: 0;
}
.destination p {
font-size: 0.8rem;
color: #9a9a9a;
 padding: 0vh 1vw;
}
.destination h3 {
font-size: 0.9rem;
color: #9a9a9a;
 padding: 0vh 1vw;
}
.destination h3:first-child {
    color: black;
    padding: 0px;
}
.destination p:nth-child(2) {
    margin-bottom: 5vh;
    padding: 0px;
}

/* Before Leave CSS */ 
.before_leave {
    background-color: white;
}
.before_leave h2 {
    color: #050505;
    font-size: 3rem;
    font-weight: 300;
    padding-top: 7vh;
}
.before_leave h3 {
    font-size: 0.8rem;
color: #9a9a9a;
}
.before_leave p {
    font-size: 0.9rem;
color: #9a9a9a;
}
.before_leave_row {
        display: flex;
    flex-wrap: wrap;
}
.before_leave_single {
    max-width: 300px;
     margin: 0 2vw 0 0;
}
.destination_single:last-child {
    margin: 0;
}